:root {
  --backgroundhover: rgba(240, 240, 240, 1);
  --backgroundpressed: rgba(224, 224, 224, 1);
  --backgroundrest: rgba(255, 255, 255, 1);
  --body-font-family: "Karla", Helvetica;
  --body-font-size: 16px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-letter-spacing: 0px;
  --body-lg-400-font-family: "Karla", Helvetica;
  --body-lg-400-font-size: 20px;
  --body-lg-400-font-style: normal;
  --body-lg-400-font-weight: 400;
  --body-lg-400-letter-spacing: 0px;
  --body-lg-400-line-height: normal;
  --body-line-height: normal;
  --body-sm-400-font-family: "Karla", Helvetica;
  --body-sm-400-font-size: 14px;
  --body-sm-400-font-style: normal;
  --body-sm-400-font-weight: 400;
  --body-sm-400-letter-spacing: 0px;
  --body-sm-400-line-height: normal;
  --body-XS-400-font-family: "Karla", Helvetica;
  --body-XS-400-font-size: 12px;
  --body-XS-400-font-style: normal;
  --body-XS-400-font-weight: 400;
  --body-XS-400-letter-spacing: 0px;
  --body-XS-400-line-height: normal;
  --display-400-font-family: "Karla", Helvetica;
  --display-400-font-size: 64px;
  --display-400-font-style: normal;
  --display-400-font-weight: 400;
  --display-400-letter-spacing: 0px;
  --display-400-line-height: normal;
  --h1-400-font-family: "Karla", Helvetica;
  --h1-400-font-size: 52px;
  --h1-400-font-style: normal;
  --h1-400-font-weight: 400;
  --h1-400-letter-spacing: 0px;
  --h1-400-line-height: normal;
  --h2-400-font-family: "Karla", Helvetica;
  --h2-400-font-size: 40px;
  --h2-400-font-style: normal;
  --h2-400-font-weight: 400;
  --h2-400-letter-spacing: 0px;
  --h2-400-line-height: normal;
  --h3-400-font-family: "Karla", Helvetica;
  --h3-400-font-size: 32px;
  --h3-400-font-style: normal;
  --h3-400-font-weight: 400;
  --h3-400-letter-spacing: 0px;
  --h3-400-line-height: normal;
  --h4-400-font-family: "Karla", Helvetica;
  --h4-400-font-size: 26px;
  --h4-400-font-style: normal;
  --h4-400-font-weight: 400;
  --h4-400-letter-spacing: 0px;
  --h4-400-line-height: normal;
  --text-primary: rgba(17, 17, 17, 1);
  --textprimary: rgba(17, 17, 17, 1);
  --textsecondary: rgba(85, 85, 85, 1);
}

